.header_btn {
    display: flex;
    justify-content: space-between;
    width: 300px;
    background-color: #f5f5f5; 
    border-radius: 8px; 
}

.btn_sign-in, .btn_sign-up {
    flex: 1; 
    text-align: center;
    padding: 10px 0;
    background-color: #ffffff; 
    color: #007BFF; 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn_sign-in.active, .btn_sign-up.active {
    background-color: #007BFF;
    color: #ffffff;
}
.btn_sign-in:hover, .btn_sign-up:hover {
    background-color: #007BFF; 
    color: #ffffff; 
}

